<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 info">
      <div>
        <h2> Ajout des competences </h2>
        <div class="profile">
          <form [formGroup]="competenceForm" (ngSubmit)="setCompetence()" autocomplete="off">
            <div class="mb-3">
              <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name ...">
            </div>
            <div class="mb-3">
              <label> number of year : </label>
              <input type="number" class="form-control-sm" name="numberOfYear" formControlName="numberOfYear">
            </div>
            <div class="button">
              <button class="btn btn-sm btn-info" type="submit"> <mat-icon>add</mat-icon> </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div *ngIf="competences.length === 0; else showCompetence">
        <div class="alert alert-info">
          Aucune competence ajoutée actuellement ...
        </div>
      </div>
      <ng-template #showCompetence>
        <div *ngFor="let item of competences">
          <div class="skill">
            <h5>{{item?.name}}</h5>
            [ <span>{{item?.numberOfYear}} an(s) </span> ] <span style="margin-left: 400px; cursor:pointer;">edit</span>
          </div>
          <hr>
        </div>
      </ng-template>
    </div>
  </div>
</div>
