<div class="cv-content mt-3 mb-2">
    <div class="cv-frame mx-auto">
        <div class="row mx-auto">
            <div class="cv-header">
                <div class="row">
                    <div class="col-4 picture">
                        <img alt="" src="assets/image/Prince.jpg" height="180" width="180">
                    </div>
                    <div class="col-4 identity">
                        Identity
                    </div>
                    <div class="col-4 contact">
                        Contact
                    </div>
                </div>
                <hr/>
            </div>
            <!-- end cv head section-->
            <div class="col-6">
                About me
            </div>
            <div class="col-6">
                Experience Professionelle
            </div>
        </div>
    </div>

    <div class="cv-frame mx-auto mt-3">
        Page 2.
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>