<div class="cv-content mt-3 mb-2">
    <div class="cv-frame mx-auto">
        <div class="row mx-auto">
            <div class="cv-header">
                <div class="row">
                    <div class="col-3 picture">
                        <img alt="" src="assets/image/Prince.jpg" height="180" width="180">
                    </div>
                    <div class="col-4 identity">
                        <ul>
                            <li class="first"> Buanga Kenandi Prince</li>
                            <li class="second"> 5000 Monastir, Tunisia</li>
                        </ul>
                    </div>
                    <div class="col-5 contact">
                        <ul>
                            <li><i class="fa fa-envelope-open" aria-hidden="true"></i> kenandiprince@yahoo.com
                            </li>
                            <li><i class="fa fa-envelope-open-o" aria-hidden="true"></i> kenandiprincebuanga@gmail.com
                            </li>
                            <li><i class="fa fa-fax" aria-hidden="true"></i> 00243813558010
                            </li>
                        </ul>
                    </div>
                </div>
                <hr/>
            </div>
            <!-- end cv head section-->
            <div class="col-6">
                About me
            </div>
            <div class="col-6">
                Experience Professionelle
            </div>
        </div>
    </div>

    <div class="cv-frame mx-auto mt-3">
        Page 2.
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>
