footer {
    position: fixed;
    background-color: #DCDCDC;
    background: -webkit-linear-gradient(59deg, #3A6073, #9fa6ac);
    background: linear-gradient(59deg, #3A6073, #848b92);
    color: white;
    bottom: 0;
    width: 100%;
    .footer-middle {
        color: white;
        .copy {
            font-size: 12px;
            padding: 2px;
            p {
                margin-bottom: 0 !important;
            }
        }
    }
}
