<div class="container">
  <div class="bg-image">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="home-message">
          <h2> Hi ! my name is prince, <br/> I'm a full stack Java developer </h2>
          <div class="content-slider">
            <div class="slider">
              <div class="mask">
                <ul>
                  <li class="anim1">
                    <div class="quote">Très <span>empathique</span>, facilement <span>abordable</span> et <span>serviable</span></div>
                    <div class="source">- Self</div>
                  </li>
                  <li class="anim2">
                    <div class="quote">Sachant <span>travailler seul</span> ou en <span>équipe</span>
                      <br>Possedant une facilité à <span>comminiqué</span> avec mes co-workers.</div>
                    <div class="source">- Self</div>
                  </li>
                  <li class="anim3">
                    <div class="quote"> Riche en <span>patience</span> et très <span>ouvert d'ésprit</span>
                      <br>Capable de bien <span>gérer mon temps</span> et diviser mes tâches.</div>
                    <div class="source">- Self</div>
                  </li>
                  <li class="anim4">
                    <div class="quote">Me considerant beaucoup plus comme un
                      <span>problem-solver</span> qui utilise la programmation comme outil pour y arrivé</div>
                    <div class="source">- Self</div>
                  </li>
                  <li class="anim5">
                    <div class="quote">Possedant comme arme principal <span>la créativité</span></div>
                    <div class="source">- Self</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
        <div class="image">
          <img src="assets/image/Prince.png" height="422" width="400" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
